* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Color Palette */
:root {
    --primary: rgba(211, 211, 211, 1);
    --secondary: rgba(34, 34, 34, 1);
    --tertiary: rgb(68, 68, 68, 1);
  }  

body {
    background-color: var(--primary);
    color: var(--secondary);
    line-height: 1.5;
    font-family: 'Quicksand', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 10px 0;
}

header h1 {
    font-weight: bold;
    background-color: var(--secondary);
    color: var(--primary);
    font-size: 3.5vw;
    padding: 5px 1% 5px 5%;
}

header a {
    text-decoration: none;
}

/* Nav Bar */
nav {
    margin: 20px 0;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

nav a:visited {
    color: var(--secondary);
}

nav a {
    text-decoration: none;
    padding: 5px 10px;
    color: var(--secondary);
    margin-right: 10px;
    background-image: linear-gradient(var(--secondary) 0%, var(--secondary) 100%);
    background-repeat: no-repeat;
    background-size: 100% 4px;
    background-position: bottom;
    transition: 0.5s;
    font-weight: 900;
    font-size: 1.7vw;
  }
  
  nav a:hover {
    background-size: 100% 100%;
    color: var(--primary);
  }  

/* Banner */
.banner-hero {
    background-image: url("../images/circle-2696910_1920.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    padding: 20px 35px;
    color: var(--primary);
    font-weight: bold;
    width: 100%;
    min-height: 300px;
    display: flex;
    justify-content: space-around;
}

.banner-picture {
    margin: auto;
}

.banner-content {
    margin: auto;
}

/* About Me */
.main-section {
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
}

.content-header {
    flex: 0 0 20%;
    text-align: right;
    padding-right: 40px;
    border-right: 4px solid var(--secondary);
    font-size: 4vw;
    line-height: 1;
  }

.section-content {
    display: flex;
    justify-content: space-between;
    width: 70%;
    padding-left: 20px;
    margin: auto;
}

.about-me ul {
    list-style: none;
}

.education-work {
    font-size: 1.5vw;
}

.skills h3 {
    padding-bottom: 5px;
    border-bottom: 4px solid var(--secondary);
    font-size: 1.5vw;
}

.skills ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.skills ul li {
    padding: 5px;
    font-size: 1.5vw;
}

/* My Work */
.work-grid {  
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
    grid-auto-flow: dense;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: minmax(150px, 1fr);
  }

.work-item {
   display: flex;
   align-items: flex-end;
   grid-column: span 2;
   border: 5px solid var(--tertiary);
   background-size: cover;
   background-position: center;
   text-decoration: none;
   background-blend-mode: overlay;
   transition: 0.5s;
}

.work-item:first-child {
    grid-column: span 5;
    grid-row: span 2;
}

.work-item:hover {
    background-color: rgba(68, 68, 68, 0.5);
}

.work-item div {
    background-color: var(--tertiary);
    color: var(--primary);
    padding: 5px 10px;
    margin-bottom: 15px;
}

.work-item h3 {
    font-size: 1.5vw;
}

.run-buddy {
    background-image: url("../images/run-buddy.png");
}

.coming-soon {
    background-image: url("../images/coming-soon.jpg");
}

.under-construction {
    background-image: url("../images/under-construction.png");
}

/* Contact Me */
.contact-info {
    font-size: 1.5vw;
}

.contact-info a:visited {
    color: var(--secondary);
}

.contact-info a {
    text-decoration: none;
    padding: 5px 10px;
    color: var(--secondary);
    margin-right: 10px;
    background-image: linear-gradient(var(--secondary) 0%, var(--secondary) 100%);
    background-repeat: no-repeat;
    background-size: 100% 4px;
    background-position: bottom;
    transition: 0.5s;
    font-weight: 900;
    font-size: 1.7vw;
  }
  
  .contact-info a:hover {
    background-size: 100% 100%;
    color: var(--primary);
  }  
